AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Left
TabWidth: 2
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
SpaceAfterCStyleCast: false
AllowAllParametersOfDeclarationOnNextLine: false